extends ../layouts/main

block variables
  -
    var title = "Web Workers";
    var description = "description for Web Workers";
    var pageClass = "index-page";

block content
  //- контент
  .content
    h1(id="h1-0") Web Workers
    img(src='img/web-workers.jpg' class='my-img')
    div
      p Сам по себе JavaScript отднопоточный язык, отчасти это хорошо так-как мы избавлена от ряда проблем которые могут возникнуть при параллельном программировании.
        | 

    h2(id="h2-1") Заголовок вводная - 1
    span 
      p 1йуцйуйцуйцуцуцуйцуйййуйцуйцу йцуйцккккккйцкцкйцк йцкааааааааааааааййцуйцйцапа2  пппппппццуййцццаа цппппп лвшйцвщрцийцтд лцлвддц йцовйшц йшойцдувщ йоцрЭЭцв йцзвзйцозв озцовзйцовз зщозщцйв ззщошршр йцщллйггшц зщйоцрцшврщщ озцшвш зщжйдцвйцо щлйоцшвр -----------------------------------------------------------------
  

    h2(id="h2-2")  Заголовок вводная - 2
    div 
      p 222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222---------------
    div 222222222222222222222222222222222222222222222222222222222222222222222222222222
    div 222222222222222222222222222222222222222222222222222222222222222222222222222222
    div 222222222222222222222222222222222222222222222222222222222222222222222222222222
    div 222222222222222222222222222222222222222222222222222222222222222222222222222222
    div 222222222222222222222222222222222222222222222222222222222222222222222222222222
    div 222222222222222222222222222222222222222222222222222222222222222222222222222222
    div 222222222222222222222222222222222222222222222222222222222222222222222222222222
    div 222222222222222222222222222222222222222222222222222222222222222222222222222222
    div 222222222222222222222222222222222222222222222222222222222222222222222222222222
    div 222222222222222222222222222222222222222222222222222222222222222222222222222222
    div 222222222222222222222222222222222222222222222222222222222222222222222222222222

    h2(id="h2-3") Заголовок вводная Очень длинный и нудный заголовок И это точно такой он и есть - 3
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333
    div 333333333333333333333333333333333333333333333333333333333333333333333333333333

    h2(id="h2-4") Заголовок вводная - 4
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444
    div 444444444444444444444444444444444444444444444444444444444444444444444444444444

    h2(id="h2-5") Заголовок вводная - 5
    div
      span  55555555555555555555555555555555555555555555555555555555555555555555555555
    div
      span  55555555555555555555555555555555555555555555555555555555555555555555555555
    div
      span  55555555555555555555555555555555555555555555555555555555555555555555555555
    div
      span  55555555555555555555555555555555555555555555555555555555555555555555555555
    div
      span  55555555555555555555555555555555555555555555555555555555555555555555555555
    div
      span  55555555555555555555555555555555555555555555555555555555555555555555555555
    div
      span  55555555555555555555555555555555555555555555555555555555555555555555555555
    div
      span  55555555555555555555555555555555555555555555555555555555555555555555555555
    div
      span  55555555555555555555555555555555555555555555555555555555555555555555555555
    
    h2(id="h2-6") Заголовок вводная - 6
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666
    div 666666666666666666666666666666666666666666666666666666666666666666666666666666







